
body {
    background-color:rgb(147, 205, 235);
}

.column {
    float: left;
}

.left{
    width: 30%;
}

.middle{
    width: 30%;
}

.right{
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}